$baseline: 24px;

@import "compass/reset";
@import "compass/css3/transition";
@import "colors";
@import "header";
@import "layout";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  background: $body-bg;
  color: $body-color;
}
a, a:visited {
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}
h1, h2, h3, p, ol, ul {
  padding-bottom: $baseline;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
  line-height: $baseline * 1.5;
  
  a, a:visited, a:focus, a:hover {
    color: $body-color;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.2s);
  }
  a:focus, a:hover {
    color: $link-color;
  }
}
h2, h3 {
  font-size: 22px;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
#content {
  margin-top: 64px;
}
