<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="description" content="GoPollGo is a real-time polling service with the most advanced discussion and analytics available on the web. Our company blog discusses the website's features, team, and technology." />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166525580047810";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="nav">
    <div class="container">
      <div class="right">
        <a href="http://gopollgo.com/about">About</a>
      </div>
      <div id="logo">
        <div id="bars">
          <div class="bar bar-purple"></div>
          <div class="bar bar-orange"></div>
          <div class="bar bar-blue"></div>
        </div>
        <a href="/">GoPollGo Blog</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="container" id="content">
    <div id="left-column">
      {{ content }}
    </div>
    <div id="right-column">
      <div class="fb-like-box" data-href="https://www.facebook.com/GoPollGo" data-width="350" data-height="587" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>
  </div>
</body>
</html>
