<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="description" content="GoPollGo is a real-time polling service with the most advanced discussion and analytics available on the web. Our company blog discusses the website's features, team, and technology." />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div id="nav">
    <div class="container">
      <div class="right">
        <a href="http://gopollgo.com/about">About</a>
      </div>
      <div id="logo">
        <div id="bars">
          <div class="bar bar-purple"></div>
          <div class="bar bar-orange"></div>
          <div class="bar bar-blue"></div>
        </div>
        <a href="/">GoPollGo Blog</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="container" id="content">
    {{ content }}
  </div>
</body>
</html>
